@CHARSET "UTF8";

.watcher{
	position:absolute;
	top:20px;
	left:20px;
	background-color:#bad3f8;
	color:white;
	width:150px;
	height:40px;
	line-height:40px;
}

.sideBar{
	position:absolute;
	top:100px;
	left:20px;
	width:250px;
	height:40px;
	line-height:40px;
}

.toolTitle{
	font-size:xx-large;
	font-farmily:consolas;
	color:Red;	
}

.tollName{
	font-size:small;
	font-farmily:consolas;
	color:black;
}